.fadeIn{
    .main-div{
        .transactions-div{
            border: 1px solid black;
            padding: 10px
        }
        .details-div{
            .payoutMethod-div{
                border: 1px solid black;
                padding: 10px;
                margin-bottom: 10px
            }
            .event-div{
                border: 1px solid black;
                padding: 10px
            }
        }
    }
    .amount-req{
        padding: 10px 0px;
    }
    .paid-btn{
        margin: 15px 0px;
        padding: 0px;
        justify-content: flex-end;
    }
    .created-div{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 50%
    }
    .card-block{
        margin-top: 20px;
        h2{
            padding: 10px 0px;
        }
    }
}